@model ManageLoginsViewModel
@using Microsoft.AspNet.Http.Authentication
@{
    ViewData["Title"] = "Manage your external logins";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--display-1">@ViewData["Title"].</h2>
        <p>@ViewData["StatusMessage"]</p>
    </div>
    @if (Model.CurrentLogins.Count > 0)
    {
        <div class="mdl-cell mdl-cell--12-col">
            <h4>Registered Logins</h4>
            <hr />
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
                <tbody>
                @foreach (var account in Model.CurrentLogins)
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            @account.LoginProvider
                        </td>
                        <td class="mdl-data-table__cell">
                        @if ((bool)ViewData["ShowRemoveButton"] == false)
                        {
                            <form asp-controller="Manage" asp-action="RemoveLogin" method="post" role="form">
                                <input asp-for="@account.LoginProvider" type="hidden" />
                                <input asp-for="@account.ProviderKey" type="hidden" />
                                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary">Remove this @account.LoginProvider login from your account</button>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    @if (Model.OtherLogins.Count > 0)
    {
        <div class="mdl-cell mdl-cell--12-col">
            <h4>Add another service to log in.</h4>
            <hr />
            <form asp-controller="Manage" asp-action="LinkLogin" method="post" class="form-horizontal" role="form">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                @foreach (var provider in Model.OtherLogins)
                                {
                                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    }
</div>
